/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */



html,
body {
    background-color: brown;
    margin: 0;
    padding: 0;
}


header {
    background-color: green;
    
}

h1{
    text-align: center;
}

footer {
    background-color: yellow;
}
p {
    color: blue;
    font-style: italic;
}

img {
    border: 5px solid #555;
}

li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}